<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002421758436-dbdg171577qu9nqqdqso50kfd8f73la0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002421758436-dbdg171577qu9nqqdqso50kfd8f73la0</string>
	<key>API_KEY</key>
	<string>AIzaSyCzJpD_NVov4aTiDdkvwQcbcVG1wDfeVXc</string>
	<key>GCM_SENDER_ID</key>
	<string>1002421758436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mygrowSoftwareProject</string>
	<key>PROJECT_ID</key>
	<string>mygrow-software</string>
	<key>STORAGE_BUCKET</key>
	<string>mygrow-software.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002421758436:ios:9b5afb8dd5cfd872357ff1</string>
</dict>
</plist>